@import "./main.css";
@import "./fonts.css";
@import "./utils.css";
@import "./sections.css";
@import "./header.css";
@import "./nav.css";
@import "./portafolio.css";
@import "./skillset.css";
@import "./experience.css";
@import "./contact.css";
