/* Recuerda que tener varios archivos CSS no es una buena práctica. Herramientas como Webpack permite minimizar todo esto para tu versión de producción. Permitirá descargar tu página web más rápido. */

/* Variables personalizadas de CSS reutilizables en cualquier parte de tu estilo*/
:root {
    --primary: hsl(190, 68%, 53%);
    --primary-dark: hsl(190, 68%, 50%);
    --secondary: hsl(25, 99%, 63%);
    --secondary-dark: hsl(25, 99%, 60%);
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --gray: #ele4e5;
    --gray2: #c0c6c9;
    --gray3: #4b4c4d;
    --black: #323333;
    --black2: #2a2b2b;
  }