#navbar {
    box-shadow: 0px 0px 10px 1px var(--gray3);

    div {
        display: flex;
        justify-content: space-between;
    }

    div a {
        padding: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    div a:hover {
        color: var(--white);
        transition: color .3s ease;
    }

    div img {
        margin-right: .5rem;
    }

    button {
        background-color: transparent;
        color: var(--white);
        font-size: 1.5rem;
        padding: .2rem .7rem;
        margin: .7rem;
        border: none;
        cursor: pointer;
    }

    &.open button {
        background-color: var(--black);
        color: var(--white);
        border-radius: 2rem;
    }

    ul {
        background: linear-gradient(var(--primary),var(--primary-dark));
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0;
        margin: 0;
        max-height: 0;
        transition: max-height .3s ease;
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    &.open ul {
        max-height: 150px;
        /* Más adelante, JavaScript colocará y removerá la clase 'open'. */
    }

    li {
        list-style: none;
        padding: 0;
    }

    ul a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--white);
        transition: color .3s ease, background-color .3s ease;

        /* :focus se activa cuando el enlace es seleccionado o enfocado con el teclado. */
        &:hover , &:focus {
            color: var(--black);
            background-color: var(--white);
        }
    }

    &.navbar-fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;

        /* Con JavaScript, se controlará la posición de la barra navegadora */
    }
}