#portafolio button {
    display: block;
    position: relative;
    margin: 1rem auto;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--gray2);
    padding: 0;
    border: none;
    cursor: zoom-in;
}

#portafolio img {
    display: block;
    max-height: 300px;
    margin: 0 auto;
    transition: transform ease .3s;
}

#portafolio button:hover img {
    transform: scale(1.25);
}

/* Creando etiqueta ficticia (pseudoelemento) que no está en HTML antes del contenido real del elemento button. */
#portafolio button:before {
    /* Siempre requiere contenido aunque esté vacío */
    content: '';
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: opacity ease .3s;
    opacity: 0;
}

/* Cuando se haga un hover sobre el button, el pseudoelemento before va a cambiar de estilo. */
#portafolio button:hover:before {
    opacity: 0.75;
}

#portafolio h4 {
    display: block;
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    color: var(--white);
    opacity: 0;
    transition: bottom ease .3s, opacity ease .3s;
}

#portafolio button:hover h4 {
    /* Movimiento del 30% en la parte de abajo */
    bottom: 30%;
    opacity: 1;
}

#portafolio button:after {
    content: url('../img/icons/zoom.svg');
    width: 50%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0%;
    transform: translate(-40%, -50%);
    opacity: 0;
    transition: top ease .3s, opacity ease .3s;
}

#portafolio button:hover:after {
    top: 40%;
    opacity: .75;
}